<div class="jumbotron">
  <div class="container">
    <h1>{{fullContact.devProfile.contactInfo.fullName}}</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well">
        <p>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{fullContact.devProfile.demographics.locationGeneral}}
        </p>
      </div>
    </div>
  </div>
  <!-- {{log fullContact.devProfile}} -->

  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><h4 class="blue-title">Social Media Profiles:</h4></li>
        {{#each fullContact.devProfile.socialProfiles as |website|}}
          <li class="list-group-item">
            <a href="{{website.url}}" target="_blank">{{website.typeName}}</a>
          </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <a href="{{fullContact.developer.html_url}}" target="_blank"><img src="{{fullContact.developer.avatar_url}}" alt="avatar" class="img-responsive profile-picture center-block"/></a>
      <div class="text-center">

        <p>
          <strong>GitHub Username:</strong> {{fullContact.developer.login}}
        </p>
        {{#if fullContact.developer.bio}}
          <p>
            Bio: {{fullContact.developer.bio}}
          </p>
        {{else}}
          <p>
          </p>
        {{/if}}
        {{#if fullContact.developer.email}}
          <p>
            Email: {{fullContact.developer.email}}
          </p>
          {{else}}
            <p>
            </p>
          {{/if}}
        </div>
        <div id="twitter">
          <!-- <a class="twitter-timeline" href="{{fullContact.twitter_user}}">Tweets by TwitterDev</a> -->
        </div>
    </div>
  </div>
</div>
