<div class="jumbotron">
  <div class="container">
    <h1>{{fullContact.devProfile.contactInfo.fullName}}</h1>
  </div>
</div>

<div class="container">

<!-- {{log fullContact.devProfile}} -->
<p>
  Gender: {{fullContact.devProfile.demographics.gender}}
</p>
<p>
  Location: {{fullContact.devProfile.demographics.locationGeneral}}
</p>


{{#each fullContact.devProfile.socialProfiles as |website|}}
  <div>
    {{website.typeName}}
    {{website.url}}
    {{website.username}}
  </div>
{{/each}}
</div>
