<div class="jumbotron">
  <div class="container">
    <h1>{{fullContact.devProfile.contactInfo.fullName}}</h1>
  </div>
</div>

<div class="container">

{{log fullContact.devProfile}}
{{fullContact.devProfile.contactInfo.fullName}}
{{fullContact.devProfile.demographics.gender}}
{{fullContact.devProfile.demographics.locationGeneral}}

{{#each fullContact.devProfile.socialProfiles as |website|}}
  <div>
    {{website.typeName}}
    {{website.url}}
    {{website.username}}
  </div>
{{/each}}
</div>
