<div class="jumbotron">
  <div class="container">
    <p>
      Developers in your Watchlist:
    </p>
  </div>
</div>

<div class="container">
  {{#if watchUser.users}}

  <div class="row">
    {{#each watchUser.users as |developer|}}
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title title">{{developer.name}}</h3>
        </div>
        <div class="panel-body">
          <a href="{{developer.html_url}}" target="_blank"><img src="{{developer.avatar_url}}" alt="avatar" class="img-responsive profile-picture center-block"/></a>
          <p>
            <strong>Username:</strong> {{developer.login}}
          </p>
          {{#if developer.bio}}
            <p>
              Bio: {{developer.bio}}
            </p>
          {{else}}
            <p>
            </p>
          {{/if}}
          {{#if developer.email}}
            <p>
              Email: {{developer.email}}
            </p>
            {{else}}
              <p>
              </p>
            {{/if}}
        </div>

        <div class="panel-footer">
          <div class="row">
            <div class="col-md-4">
              {{#if developer.email}}
                {{#link-to 'fullcontact' developer.email}}<p {{action 'viewProfile' developer}}>Full Profile</p>{{/link-to}}
              {{/if}}
            </div>
            <div class="col-md-4 text-center">
              {{'email-link' developer.email}}
            </div>
            <div class="col-md-4">
              <img src="https://github.com/saeromjoa/github-api-project-ember/blob/master/public/assets/images/remove_watchlist.png?raw=true" {{action 'removeFromWatch' developer}} class="img-responsive watchlist-icon" alt="add to watchlist"/>

            </div>
          </div>
        </div>

      </div>
    </div>

    {{/each}}
  </div>
{{else}}
  <h3>No developers in your watchlist.</h3>

{{/if}}
</div>
