<div class="jumbotron">
  <div class="container">
    <p>
      We find only the relevant candidates for your requirments. No more boolean searches, complex filters or spending countless hours scanning through the internet to find the right candidates.
    </p>
  </div>
</div>
<div class="container">
  <h1 class="title results">Candidates: </h1>

  <div class="row">
    {{#each model as |developer|}}
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title title">{{developer.name}}</h3>
          </div>
          <div class="panel-body">
            <img src="{{developer.avatar_url}}" alt="avatar" class="img-responsive profile-picture"/>
            <p>
              <strong>Username:</strong> {{developer.login}}
            </p>
            <p>
              <strong>Bio:</strong> {{developer.bio}}
            </p>
            <p>
              Email: {{developer.email}}
            </p>
          </div>

          <div class="panel-footer">
            <div class="row">
              <div class="col-md-4">
                  {{#link-to 'fullcontact' developer.email}}full profile{{/link-to}}
              </div>
              <div class="col-md-4 text-center">
                {{'email-link' developer.email}}
              </div>
              <div class="col-md-4">
                <img src="https://github.com/saeromjoa/github-api-project-ember/blob/master/public/assets/images/add_watchlist.png?raw=true" {{action 'addToWatch' developer}} class="img-responsive watchlist-icon" alt="add to watchlist"/>

              </div>
            </div>
          </div>

        </div>
      </div>

    {{/each}}

  </div>
</div>
